body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr 60px 150px auto;
    grid-template-rows: 90px 64px 350px 300px 300px;
    grid-template-areas:
        "header header header header header"
        "nav nav nav nav nav"
        ". bild . right_content ."
        ". text . right_content ."
        "footer footer footer footer footer";
    /* gap: 1rem 2rem; */ /* gap = row column */
    background-color: lightgray;
}

body.dark {
    background-color: darkblue;
}

/*Global header*/
header {
    display: flex;
    grid-area: header;
    color: black;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

header > a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

header > p {
    display: flex;
    font-size: 15px;
    margin-top: 30px;
}

/*Global Nav*/
nav {
    grid-area: nav;
    background-color: gray;
    margin-bottom: 1rem;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    /* padding: 15px 15px; */
    margin-left: 200px;
}

li > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

li:hover {
    background-color: black;
    cursor: pointer;
  }
/*Bild*/
.bild {
    grid-area: bild;
    background-color: lightgray;
    margin: 0 5rem;
    margin-left: 170px;
}

.content {
    grid-area: text;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1rem 1rem 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 20px;
    margin: 5rem;
    height: 300px;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

/*global höger content*/
.right_content {
    grid-area: right_content;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
    height: 550px;
}

/*global sidobar*/
.sidobar {
    background-color: rgba(0, 0, 0, 0.2);;
    position: relative;
    left: -200px;
    width: 200px;
    height: 550px;
}

.sidobar__open {
    left: 0;
}

.sidobar__toggle {
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.sidobar__toggle:hover {
    cursor: pointer;
}

.sidobar > p {
    padding: 25px;
    font-size: 25px
}

.sidobar > p > a {
    color: black;
    text-decoration: none;
}

.sidobar > p > a:hover {
    text-decoration: underline;
}

/* Global Dark mode toggle*/
.button {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: red;
    margin-left: 50px;
}


/*Global footer*/
footer {
    grid-area: footer;
    background-color: gray;
    margin-top: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

