body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr 60px 150px auto;
    grid-template-rows: 90px auto 350px 1fr auto;
    grid-template-areas:
        "header header header header header"
        "nav nav nav nav nav"
        ". bild . right_content ."
        ". text . right_content ."
        "footer footer footer footer footer";
    /* gap: 1rem 2rem; */ /* gap = row column */
    background-color: lightgray;
}

/* Global header */

header {
    display: flex;
    grid-area: header;
    color: black;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

/* Nav */

nav {
    grid-area: nav;
    background-color: powderblue;
}

/* Bild */

.bild {
    grid-area: bild;
    background-color: rgb(226, 10, 10);
}

.content {
    grid-area: text;
    background-color: rgba(0, 0, 0, 0.2);
}

/* global sidobar */

.right_content {
    grid-area: right_content;
    background-color: rgba(0, 0, 0, 0.2);
}

/* global sidobar */

.sidobar {
    background-color: orange;
    position: relative;
    left: -200px;
    width: 200px;   
}

.sidobar__open {
    left: 0;
}

.sidobar__toggle {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    
}



/*Global footer*/
footer {
    grid-area: footer;
    background-color: gray;
}
