body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 1fr 100px;

    min-height: 100vh;

}



.start {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.bild {
    grid-column: 1/6;
}

.text {
    grid-column: 1/6;
    
}


aside {
    grid-column: 7/9;
    grid-row: 1/-1;
}
.content * {
    outline: 1px solid black;
}